div[data-rehype-pretty-code-fragment] {
  @apply overflow-hidden border-2 rounded-lg;
}

div[data-rehype-pretty-code-fragment] pre {
  @apply overflow-x-auto px-0 text-sm leading-6 bg-stone-100;
}

div[data-rehype-pretty-code-title] {
  @apply bg-stone-200 px-3  py-1 font-semibold -ml-1 font-mono text-xs leading-4 text-stone-700;
}

div[data-rehype-pretty-code-fragment] .line {
  @apply px-3 py-1 border-l-4 border-l-transparent;
}

div[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-stone-400/10 border-l-[4px] border-blue-900/60;
}

div[data-rehype-pretty-code-fragment] code {
  @apply grid bg-stone-100 text-stone-800 py-4 px-0;
}

code[data-line-numbers] {
  counter-reset: lineNumber;
}

code[data-line-numbers] .line::before {
  counter-increment: lineNumber;
  content: counter(lineNumber);
  display: inline-block;
  text-align: right;
  color: rgb(188, 188, 188);
  padding-right: 1rem;
}
kbd {
  @apply bg-stone-200 px-1 !text-sm rounded-md border-stone-300 text-stone-700 border-2;
}

a {
  @apply underline decoration-1;
}
code {
  @apply bg-stone-200 text-sm py-[1px] px-1 text-stone-700 rounded-md;
}
