div[data-rehype-pretty-code-fragment] {
  @apply p-4 bg-zinc-800 my-6 rounded-lg;
}

div[data-rehype-pretty-code-fragment] code {
  @apply grid;
}
div[data-rehype-pretty-code-title] {
  @apply bg-zinc-700 relative top-3 left-5  text-zinc-200 w-fit p-2 font-sans   rounded-lg;
}
code[data-line-numbers] {
  counter-reset: lineNumber;
}
div[data-rehype-pretty-code-fragment] .line {
  @apply py-1;
}


code[data-line-numbers] .line::before {
  @layer {
    counter-increment: lineNumber
    content: counter(lineNumbers)
  }
  @apply w-4 mr-3 text-right inline-block
}
